<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="storageAccount" value="[your storage account]" />
    <add key="storageKey" value="[your key]" />
    <add key="MaxFileParallel" value="4" />
    <add key="MaxThreadParallel" value="8" />
  </appSettings>
</configuration>