<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="storageAccount" value="testopentec" />
    <add key="storageKey" value="gi3PDAo328t9JxyrozYNmo2wY8fAU4qZ68/gE7OVnJBx/jNjn3cGWVSkYVI0w96FssPTi5KI/UTJsGbeMaBX5Q==" />
    <add key="MaxFileParallel" value="4" />
    <add key="MaxThreadParallel" value="4" />
    <!--<add key="MaxBlockSize" value="4000000" />-->
    <add key="MaxBlockSize" value="1024000" />
    <add key="OriginPath" value="K:\jpgarcia69\Downloads\aqui2" />
  </appSettings>
</configuration>